.home-title{
    margin-top: 90px;
    margin-bottom: 26px;
}
.search-input{
    max-width: 470px;
    margin-bottom: 51px;
}
.btn-background{
background-color: #120E43;    
}
.color-text{
    color: #120E43;
}